.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.form__input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #dddddd;
}

.form__button {
    text-transform: capitalize;
    padding: 10px;
    color: #ffffff;
    background-color: hsl(180, 100%, 25%);
    border: none;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

@media (max-width: 767px){
    .form__input {
        width: 100%;
    }

    .form__button {
        width: 100%;
    }
}